# Server configuratie
SERVER_PORT=8080

# Database
MONGODB_URI=mongodb://localhost:27017/openmrs

# Beveiliging & Webhooks
WEBHOOK_SECRET=61a1f30e94320a56e16e7ac42e27f6a1da214a45412ffad46df222323c8d54db

# OpenMRS Koppeling
OPENMRS_BASE_URL=http://host.docker.internal/
OPENMRS_USERNAME=admin
OPENMRS_PASSWORD=Admin123

# Crypto
CRYPTO_SECRET_KEY=DitIsMijnSuperGeheimeSleutel123!